spring.datasource.url= jdbc:postgresql://localhost:5432/patientService
spring.datasource.username= user
spring.datasource.password= YourPassword

server.port=8081

#to load our data.sql at the start
spring.jpa.defer-datasource-initialization=true
spring.sql.init.mode=always

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto= create
